:root {
  --primary-color-text: rgba(117, 117, 117, 1);
  --secondary-color-text: rgba(33, 33, 33, 1);
  --footer-color-text: rgba(255, 255, 255, 0.6);
  --accent-color: rgba(33, 150, 243, 1);
  --primary-bcg-color: rgba(255, 255, 255, 1);
  --secondary-bcg-color: #2f303a;
  --third-bcg-color: rgba(245, 244, 250, 1);
  --primary-button-color: #f5f4fa;

  --black: rgba(0, 0, 0, 1);
  --white: rgba(255, 255, 255, 1);

  --element-gap: 20px;
  --cards-gap: 30px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: var(--white);
  color: var(--primary-color-text);
  font-family: 'Raleway', 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

.logo-first {
  color: var(--accent-color);
}

.logo-second {
  color: var(--black);
}

.logo-third {
  color: var(--white);
}

.logo {
  margin-right: 95px;
  display: flex;

  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
}

/* index.html */

.container {
  /* outline: 1px solid tomato; */
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Header */

.container.head {
  display: flex;
  align-items: center;
}

.header {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--secondary-color-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.link-item:not(:last-child) {
  margin-right: 50px;
}

.link.now {
  color: var(--accent-color);
}

.link-list {
  display: flex;
}

.connection {
  color: var(--primary-color-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.connection-item:not(:last-child) {
  margin-right: 50px;
}

.connection:hover,
.link:hover,
.connection:focus,
.link:focus {
  color: var(--accent-color);
}

.connection-list {
  display: flex;
  margin-left: auto;
}

/* Hero */

.hero {
  text-align: center;
  background: var(--secondary-bcg-color);
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  color: white;
  text-transform: uppercase;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

.hero-link {
  margin-top: 30px;
  border-radius: 4px;
  border: transparent;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  background: var(--accent-color);
  color: white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.hero-link:hover,
.hero-link:focus {
  background: var(--third-bcg-color);
  color: var(--secondary-bcg-color);
}

/* Adventages/Doing */

.advantages-title,
.doing-title,
.link {
  color: var(--secondary-color-text);
}

.advantages-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
}

.advantages-text {
  margin-top: 10px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

.advantages {
  padding-top: 94px;
  padding-bottom: 94px;
}

.doing {
  padding-bottom: 94px;
  text-align: center;
}

.advantages-list,
.doing-list {
  margin-left: calc(-1 * var(--element-gap));

  display: flex;
  flex-wrap: wrap;
}

.doing-list {
  margin-top: 50px;
  justify-content: space-between;
}

.advantages-item {
  margin-left: var(--element-gap);
  flex-basis: calc(100% / 4 - var(--element-gap));
}

.doing-item {
  margin-left: var(--element-gap);
  flex-basis: cllc(100%/3 - var(--element-gap));
}

.doing-title,
.team-title {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.2;
}

/* Team */

.team {
  padding-top: 94px;
  padding-bottom: 94px;

  background: var(--third-bcg-color);
  text-align: center;
}

.team-list {
  margin-top: 50px;
  margin-left: calc(-1 * var(--element-gap));

  display: flex;
  flex-wrap: wrap;
}

.team-item {
  margin-left: var(--element-gap);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;

  flex-basis: calc(100% / 4 - var(--element-gap));

  background: var(--primary-bcg-color);
}

.team-title,
.team-name {
  color: var(--secondary-color-text);
}

.team-name {
  margin-top: 30px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
}

.team-prof {
  margin-top: 10px;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.2;
}

/* Footer */

.footer {
  padding-top: 64px;
  padding-bottom: 54px;

  background: var(--secondary-bcg-color);
}

.footer-connection {
  color: var(--footer-color-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
}

.footer-connection:hover,
.footer-connection:focus {
  color: var(--accent-color);
}

.address {
  color: white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.714;
}

.address-bottom {
  margin-top: 20px;
}

.address-list,
.address-item:not(:first-child) {
  margin-top: 10px;
}

/* portfolio.html */

.container.main {
  margin-top: 94px;
  margin-bottom: 94px;
}

/* Filter */

.filter {
  display: flex;
  justify-content: center;

  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.filter-btn {
  border-radius: 4px;
  border: transparent;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;

  background: var(--primary-button-color);
  color: var(--secondary-color-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;

  cursor: pointer;
}

.filter-btn:hover,
.filter-btn:focus {
  background: var(--accent-color);
  color: white;
}

/* Cards */

.cards {
  margin-top: calc(-1 * var(--cards-gap));
  margin-left: calc(-1 * var(--cards-gap));

  display: flex;
  flex-wrap: wrap;
}

.cards-item {
  margin-top: var(--cards-gap);
  margin-left: var(--cards-gap);
  flex-basis: calc(100% / 3 - var(--cards-gap));
}

.cards-title {
  margin-bottom: 4px;

  color: var(--secondary-color-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.cards-filter {
  color: var(--primary-color-text);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.cards-article {
  border-left: 1px solid rgba(238, 238, 238, 1);
  border-right: 1px solid rgba(238, 238, 238, 1);
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
}
